body {
    font-family: 'Merriweather', Serif;
    letter-spacing: .01rem;
    line-height: 1.75rem;
    margin-bottom: 40px;
    background-color: #ffffff;
    font-size: 100%;
    display: block;
    text-align: center;
}

#home   {
    text-align: center;
}



p {
    font-size: 25px;
}



#school .row {
    margin: 40px 40px;
    text-align: center;
    
}
