body {
    font-family: 'Merriweather', Serif;
    letter-spacing: .01rem;
    line-height: 1.75rem;
    margin-bottom: 40px;
    background-color: #ffffff;
    font-size: 100%;
    display: block;
    text-align: center;
    
    
}

#home #home2  {
    text-align: center;
}



p {
    font-size: 25px;
}



#school .row {
    margin: 40px 40px;
    text-align: center;
    
}

.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}

.icons {
    margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}

a {
    color: black;
}

img {
  max-width: 100%;
    height: auto;
  object-fit: scale-down;
  
  
}